@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'Sweet Sans';
  src: url('./assets/sweet_sans_regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  body {
    @apply m-0 antialiased font-roboto sm:font-sweet-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
