@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sweet Sans';
  src: url('./assets/sweet_sans_regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Sweet Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
